@use "../index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;

  @include mq($desktop-width, down) {
    font-size: 12px;
  }
}

body {
  @include antialias;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  // prettier-ignore
  background: 
    url(../images/pattern-hills.svg) center bottom repeat-x ,
    url(../images/bg-stars.svg) 0 0,
    linear-gradient(var(--very-dark-blue2) 0, var(--very-dark-blue) 100%) 100% 100%;
  background-size: contain, auto, auto;

  @include mq($desktop-width, down) {
    background-position: right -150px bottom;
    background-size: 1460px, auto, auto;
  }
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.39em;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2em;

  @include mq($desktop-width, down) {
    font-size: 1.3rem;
    letter-spacing: 0.35em;
  }
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input,
button,
input[type="submit"] {
  height: 3rem;
  padding: 0 2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--dark-desaturated-blue);
  box-shadow: 0 0.5rem 0 #17171d;
  color: var(--soft-red);
}

button {
  &:hover {
    background: var(--soft-red);
    color: var(--dark-desaturated-blue);
    transition: 0.3s;
  }
}

/* ============================================ */
/* ··········································· § LAYOUT ··· */
/* ======================================== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // @include debug;
  max-width: 690px;
  min-height: 100vh;
  margin: auto auto;
}

.title {
  margin-top: 9.7rem;
  margin-bottom: 7.6rem;
}

.footer {
  margin-top: auto;
}

.footer__social__list {
  @extend %reset-list;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5rem;
  width: 10rem;
}

.footer__social__icon {
  display: block;
  font-size: 2rem;
  color: var(--grayish-blue);
  transition: 0.3s;

  &:hover {
    color: var(--soft-red);
  }
}

/* ============================================ */
/* ··········································· § COUNTDOWN ··· */
/* ======================================== */
:root {
  --animation-duration: 0.3s;
  --countdown-border-radius: 0.5rem;
  --darker-flip: brightness(0.8);
  --flip-height: 5rem;
  --flip-container-height: calc(var(--flip-height) * 2);
  --flip-font-size: 5rem;
  --flip-text-offset: calc(var(--flip-font-size) / 2);
}
@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes flip-fg-reflection {
  0% {
    filter: brightness(1);
  }

  60% {
    filter: brightness(1.5);
  }
}

@keyframes flip-fg-shadow {
  from {
    filter: var(--darker-flip);
  }
  to {
    filter: brightness(0.2);
  }
}

@keyframes flip-bg-shadow {
  0% {
    filter: brightness(1);
  }

  40% {
    filter: brightness(1);
  }

  100% {
    filter: brightness(0.2);
  }
}

.countdown {
  display: grid;
  margin: 0 1rem 7rem 0;
  gap: 5rem 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  color: var(--soft-red);
  perspective: 500px;
  perspective-origin: center center;

  @include mq($desktop-width, down) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =================================== § FLIP CONTAINERS === */
.countdown__flip-container {
  position: relative;
  height: var(--flip-container-height);
  transform-style: preserve-3d;
  box-shadow: 0 1rem 0 0 #17171d;
  border-radius: var(--countdown-border-radius);
}

.countdown__bg-flips-container,
.countdown__fg-flips-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.countdown__fg-flips-container {
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom center;

  .flipped & {
    animation: flip var(--animation-duration) linear;
  }
}

/* =================================== § FLIPS === */
.flip {
  position: relative;
  height: var(--flip-height);
  overflow: hidden;
  transform-origin: 100% 100%;
  background: var(--dark-desaturated-blue);

  &:before,
  &:after {
    font-size: var(--flip-font-size);
    line-height: var(--flip-font-size);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: calc(var(--flip-text-offset) * -1);
    left: 0;
  }
}

%border-radius-top {
  border-radius: var(--countdown-border-radius) var(--countdown-border-radius) 0 0;
}
%border-radius-bottom {
  border-radius: 0 0 var(--countdown-border-radius) var(--countdown-border-radius);
}

.countdown__fg-flip__front,
.countdown__fg-flip__back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: center center;
}

.countdown__fg-flip__front {
  @extend %border-radius-top;
  filter: var(--darker-flip);
  backface-visibility: hidden;

  .flipped & {
    animation: flip-fg-shadow var(--animation-duration) linear;
  }

  &:before {
    content: attr(data-current-day);
  }
}

.countdown__fg-flip__back {
  @extend %border-radius-bottom;
  transform: rotateX(180deg);

  .flipped & {
    animation: flip-fg-reflection var(--animation-duration) linear;
  }
  &:before {
    content: attr(data-next-day);
    bottom: var(--flip-text-offset);
  }
}
.countdown__bg-flip__top {
  @extend %border-radius-top;
  filter: var(--darker-flip);
  &:before {
    content: attr(data-next-day);
  }
}

.countdown__bg-flip__bottom {
  @extend %border-radius-bottom;

  .flipped & {
    animation: flip-bg-shadow var(--animation-duration) linear;
  }
  &:before {
    content: attr(data-current-day);
    bottom: var(--flip-text-offset);
  }
}

.countdown-notch {
  --notch-width: 7px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #17171d;
    width: var(--notch-width);
    height: var(--notch-width);
  }

  &:before {
    left: 0;

    .countdown__fg-flip__front &,
    .countdown__bg-flip__top & {
      border-radius: 0 var(--notch-width) 0 0;
      bottom: 0;
    }

    .countdown__bg-flip__bottom &,
    .countdown__fg-flip__back & {
      border-radius: 0 0 var(--notch-width) 0;
    }
  }

  &:after {
    right: 0;
    .countdown__fg-flip__front &,
    .countdown__bg-flip__top & {
      border-radius: var(--notch-width) 0 0 0;
      bottom: 0;
    }
    .countdown__bg-flip__bottom &,
    .countdown__fg-flip__back & {
      border-radius: 0 0 0 var(--notch-width);
    }
  }
}

.countdown__flip-container__timeframe-text {
  bottom: -3.3rem;
  transform: translateX(-50%);
  position: absolute;
  color: var(--grayish-blue);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.4em;
}

/* =================================== § FLIP TEXT CONTENT === */
@mixin attributes($timespan) {
  &:before {
    content: attr(data-current + "-" + $timespan);
  }
  .countdown__fg-flip__front {
    &:before {
      content: attr(data-current + "-" + $timespan);
    }
  }

  .countdown__fg-flip__back {
    &:before {
      content: attr(data-next + "-" + $timespan);
    }
  }

  .countdown__bg-flip__top {
    &:before {
      content: attr(data-next + "-" + $timespan);
    }
  }

  .countdown__bg-flip__bottom {
    &:before {
      content: attr(data-current + "-" + $timespan);
    }
  }
}

#containerDays {
  @include attributes(day);
}

#containerHours {
  @include attributes(hour);
}

#containerMinutes {
  @include attributes(minute);
}

#containerSeconds {
  @include attributes(second);
}

.countdown__error {
  @include column-start-end(1, -1);
  justify-content: center;
  display: none;

  &.show {
    display: flex;
  }
  i {
    font-size: 2em;
    margin-right: 0.5rem;
  }
}

/* ============================================ */
/* ··········································· § FORM ··· */
/* ======================================== */
.launchdate-form {
  margin: 0 auto;
  text-align: center;
}
.launchdate-form__input,
.launchdate-form__button {
  @include mq($desktop-width, down) {
    font-size: 1.5rem;
    display: block;
    height: 4rem;
  }
}

.launchdate-form__input {
  @include mq($desktop-width, down) {
    margin-bottom: 1.5rem;
  }
}

.launchdate-form__button {
  @include mq($desktop-width, down) {
    margin: 0 auto;
  }
}
