@use "../index.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
}

body {
  @include antialias;
  min-width: 100vw;
  min-height: 100vh;
  line-height: 1.6em;
  font-family: var(--body-font-family);
  color: var(--text-color);
  // prettier-ignore
  background: 
    url(../images/pattern-hills.svg) center bottom repeat-x ,
    url(../images/bg-stars.svg) 0 0,
    linear-gradient(var(--very-dark-blue2) 0, var(--very-dark-blue) 100%) 100% 100%;
  background-size: contain, auto, auto;

  @include mq($desktop-width, down) {
    background-position: right -150px bottom;
    background-size: 1460px, auto, auto;
  }
}

/* ========================== § TYPOGRAPHY === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.39em;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2em;

  @include mq($desktop-width, down) {
    font-size: 1.3rem;
    letter-spacing: 0.35em;
  }
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1.2em;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1.2em;
}

h4 {
  font-size: var(--h4-font-size);
  line-height: 1.2em;
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

a {
  color: var(--accent-color);
}

dt {
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 1px solid var(--grey300);
}

/* ========================== § TABLES === */
table,
td,
th {
  border: 1px solid var(--grey300);
}

table {
  border-collapse: collapse;
}

caption {
  font-size: var(--h4-font-size);
  font-weight: bold;
}
thead {
  font-weight: bold;
  background: var(--grey300);

  th {
    border-color: var(--grey500);
  }
}

td,
th {
  padding: 0.5rem;
}
/* ========================== § IMAGES === */
img {
  max-width: 100%;
}

figcaption {
  font-size: var(--small-font-size);
}

/* ========================== § FORMS === */
fieldset,
textarea {
  border: 1px solid var(--grey300);
}

textarea,
input,
select {
  border: 1px solid var(--grey300);
  padding: 0.5rem;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* ============================================ */
/* ··········································· § LAYOUT ··· */
/* ======================================== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  // @include debug;
  max-width: 690px;
  min-height: 100vh;
  margin: auto auto;
}

.title {
  margin-top: 9.7rem;
  margin-bottom: 7.6rem;
}

.footer {
  margin-top: auto;
}

.footer__social__list {
  @extend %reset-list;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5rem;
  width: 10rem;
}

.footer__social__icon {
  display: block;
  font-size: 2rem;
  color: var(--grayish-blue);
  transition: 0.3s;

  &:hover {
    color: var(--soft-red);
  }
}

/* ============================================ */
/* ··········································· § COUNTDOWN ··· */
/* ======================================== */
:root {
  --animation-duration: 0.5s;
}
@keyframes flip {
  to {
    transform: rotateX(-180deg);
  }
}

@keyframes change-number {
  to {
    content: attr(data-next-day);
    transform: rotateX(-180deg);
  }
}

.countdown {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  color: var(--soft-red);
  perspective: 1000px;
  perspective-origin: center center;
}

.countdown__flip-container {
  position: relative;
  height: 8rem;
  transform-style: preserve-3d;

  &.flipped {
    .countdown__fg-flip {
      animation: flip var(--animation-duration) linear;

      &:before {
        animation: change-number 0.01s linear;
        animation-delay: calc(var(--animation-duration) / 2);
      }
    }
  }
}

.countdown__bg-flips-container,
.countdown__fg-flips-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flip {
  position: relative;
  background: darkblue;
  height: 4rem;
  overflow: hidden;
  transform-origin: 100% 100%;

  &:before,
  &:after {
    font-size: 4rem;
    line-height: 4rem;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -2rem;
    left: 0;
  }

  &:before {
    content: attr(data-current-day);
  }

  &:after {
    display: none;
    content: attr(data-next-day);
  }
}

.countdown__bg-flip__bottom {
  &:before {
    bottom: 2rem;
  }
}
