$base-font-size: 14px;
$small-font-size: $base-font-size * 0.9;
$desktop-width: 800px;
$mobile-width: $desktop-width - 1px;

:root {
  // Colors
  --text-color: hsl(0, 0%, 7%);
  --accent-color: hsl(216, 61%, 54%);
  --grey300: hsl(0, 0%, 70%);
  --grey500: hsl(0, 0%, 50%);

  // Primary

  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  // neutral

  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(268, 21%, 14%);
  --very-dark-blue2: hsl(234, 17%, 12%);

  // Typography
  --base-font-size: #{$base-font-size};
  --small-font-size: #{$small-font-size};
  --line-height: 1.6em;
  --body-font-family: "Red Hat Text", sans-serif;
  --headings-font-family: "Red Hat Text", sans-serif;
  --h1-font-size: 2.7rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.3rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 1rem;
}
